body {
    font-size: 14px;
}
.mainBox {
    margin-left: 15px;
}
.label {
    width: 30px;
    text-align: right;
}
.content {
    margin-left: 20px;
}

.runhint {
    font-size: 13px;
    color: red;
}

h4 {
    color: #333333;
    font-weight: 800;
    font-size: 18px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

img {
    border: 1px solid gray;
}

.imgbox-left {
    width: 50%;
}

.imgbox-right {
    margin-top: 20px;
}